@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

/* CONTENT AREAS */

/* Header */

header {
    top: 0;
    background-color: #fefaf6;
    position: sticky;
    width: 100%;
    display: flex;
    flex-direction: row;
}

header nav, #logo-container {
    flex-basis: 50%;
}

header nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

#logo-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#logo-container img {
    max-height: 33%;
    margin-right: 20%;
}

ul li {
    padding: 1.5em .75em;
    transition: 0.2s linear;
}

ul li:hover {
    background-color: #f2e3cc;
}

ul li a {
    text-decoration: none;
    color: #110B11;
    font-size: 1.25em;
}

/* Main */

main {
    background-color: #f2e3cc;   
}

.panel {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}

.panel-margin {
    width: 100%;
    flex-basis: 10%;
}

.panel-desc {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-basis: 40%;
}

.panel-img {
    display: flex;
    justify-content: center;
    padding-top: 3em;
    width: 100%;
    align-self: flex-end;
}

#daa {
    background-color: #C7CCD1;
    justify-content: flex-end;
}

#activity-manager {
    background-color: #ADF7FF;
}

#daa, #activity-manager {
    padding-bottom: 2em;
}

#daa .panel-desc, #activity-manager .panel-desc {
    justify-content: center;
}

#overview .panel-img {
    max-width: 20%;
}

#daa img {
    max-width: 30%;
}

#activity-manager img {
    max-width: 25%;
}

/* Footer */

footer {
    background-color: #fefaf6;
    display: flex;
    justify-content: flex-end;
}

footer p {
    margin-right: 10%;
}

/* TYPOGRAPHY */

body {
    margin: 0;
    font-family: 'Roboto', Helvetica, sans-serif;
    font-weight: 300;
    color: #110B11;
}

h1, h2 {
    font-size: 3em;
}

h2 {
    margin-bottom: 0.5em;
}

.panel p {
    margin-bottom: 0;
}

.panel a {
    color: #00707A;
    text-decoration: underline;
}