@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url("https://use.typekit.net/dqd4olk.css");

/* CONTENT AREAS */

/* Header */

header {
    top: 0;
    background-color: #fefaf6;
    position: sticky;
    width: 100%;
    display: flex;
    flex-direction: row;
    z-index: 1;
}

header nav, #logo-container {
    flex-basis: 50%;
}

header nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

#logo-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#logo-container img {
    max-height: 33%;
    margin-right: 20%;
}

ul li {
    padding: 1.5em .75em;
    transition: 0.2s linear;
    -webkit-transition: 0.2s linear;
}

ul li:hover {
    background-color: #f2e3cc;
    cursor: pointer;
}

.clicked {
    text-decoration: underline;
}

ul li a {
    text-decoration: none;
    color: #110B11;
    font-size: 1.25em;
}

/* Main */

body {
    overflow-y: scroll;
}

body, main {
    background-color: #fefaf6;   
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.panel {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    animation-duration: 0.75s;
    animation-name: reveal;
}

.panel-margin {
    width: 100%;
    flex-basis: 10%;
}

.panel-desc {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-basis: 40%;
}

.panel-img {
    max-width: 30vw;
    height: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#daa .panel-img {
    background-color: #fdf0d5;
}

#activity-manager .panel-img {
    background-color: #D6F5FF;
}

#misc .panel-img {
    background-color: #EBEBEB;
}

#overview {
    background-color: #f2e3cc;
}

#daa, #activity-manager, #misc, .margin-content, .mockup-overview {
    background-color: #fefaf6;
    margin-left: 12.5%;
    margin-right: 12.5%;
    width: 75%;
    justify-content: space-between;
    animation-name: reveal-75;
}

#daa .panel-desc, #activity-manager .panel-desc, #misc .panel-desc {
    padding-top: 3em;
    padding-bottom: 2em;
    justify-content: flex-start;
    flex-basis: 55%;
}

#activity-manager, #misc {
    border-top: .05rem solid #110B11;
}

#overview img {
    padding-top: 3em;
    align-self: flex-start;
    max-width: 20%;
}

#daa img {
    max-width: 75%;
}

#activity-manager img, #misc img {
    max-width: 80%;
}

/* 'About Page' Elements */

#about {
    justify-content: space-evenly;
    animation-name: reveal-about;
}

#about h2 {
    margin-top: 0em;
    padding-bottom: 0.5em;
}

#about .panel-desc {
    flex-basis: 40%;
    padding-bottom: 4em;
    padding-top: 4em;
    justify-content: center;
}

#about img {
    max-width: 30%;
    align-self: center;
    padding-top: 0;
    background-color: #f2e3cc;
    border-radius: 5em;
}

/* 'Contact Page' Elements */

#contact {
    animation-name: reveal-about;
    justify-content: center;
    align-items: center;
    height: 75vh;
    flex-direction: column;
}

#contact .panel-desc {
    flex-basis: 0;
    height: auto;
}

#contact .panel-desc img {
    margin-right: 1em;
    max-height: 25px;
    align-self: flex-end;
    transition: 0.2s linear;
    -webkit-transition: 0.2s linear;
}

.break {
    height: .05rem;
    width: 100%;
    background-color: #110B11;
    margin-top: 2em;
    margin-bottom: 2em;
}

#contact .panel-desc img:hover {
    opacity: 66.6%;
    cursor: pointer;
}

#contact h2 {
    font-size: 3em;
    margin-top: 0;
}

/* Mockup Pages */

#daa-page, #am-page, #misc-page {
    flex-direction: column;
}

#daa-page .break, #am-page .break, #misc-page .break {
    height: 0.5px;
    width: 75%;
    margin-left: 12.5%;
    margin-right: 12.5%;
}

.margin-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

.center-title {
    align-self: center;
    padding-bottom: 0.5em;
}

.mockup-overview {
    display: flex;
    flex-direction: row;
    padding-bottom: 1em;
}

.mockup-overview div {
    text-align: center;
}

.margin-content *{
    max-width: 50%;
}

.margin-content div p, .margin-content div h2 {
    max-width: 100%;
}

.margin-content div img {
    margin-top: 2em;
}

.mockup-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 3em;
}

.mockup-container img {
    padding-top: 3em;
    padding-bottom: 3em;
}

#daa-page .mockup-container img {
    max-width: 25%;
}

#am-page .mockup-container img, #misc-page .mockup-container img {
    max-width: 30%;
}

#daa-page .mockup-container {
    background-color: #fdf0d5;
}

#am-page .mockup-container {
    background-color: #D6F5FF;
}

#misc-page .mockup-container {
    background-color: #EBEBEB;
}

/* Footer */

footer {
    background-color: #fefaf6;
    display: flex;
    justify-content: flex-end;
    bottom: 0;
}

footer p {
    margin-right: 10%;
}

/* TYPOGRAPHY */

body {
    margin: 0;
    font-family: 'Roboto', Helvetica, sans-serif;
    font-weight: 300;
    color: #110B11;
}

h1, h2, h3 {
    font-family: futura-pt, Helvetica, sans-serif;
    font-weight: 300; 
}

h1, h2 {
    text-transform: uppercase;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
    margin-bottom: 0em;
}

h3 {
    font-weight: bold;
}

.panel p {
    margin-bottom: 0;
}

.panel a {
    color: #00707A;
    text-decoration: underline;
    font-style: initial;
    transition: 0.2s linear;
    cursor: pointer;
}

.panel a:hover {
    background-color: #F4F5F6;
}

::selection {
    background-color: #DDE1E3;
  }

.small-header {
    font-size: 1.5em;
}

.hidden {
    display: none;
}

/* ANIMATION */

@keyframes reveal {
    from {
      opacity: 0%;
      width: 90%;
    }
  
    to {
      opacity: 100%;
      width: 100%;
    }
  }

@keyframes reveal-75 {
    from {
      opacity: 0%;
      width: 65%;
    }
  
    to {
      opacity: 100%;
      width: 75%;
    }
  }

  @keyframes reveal-about {
    from {
      opacity: 0%;
    }
  
    to {
      opacity: 100%;
    }
  }